<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Detect Keywords</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>

<body>
 <div class="waiting_screen">
     <text style="font-size:23px">Access to this video is restricted by YouTube. Kindly try some other video.</text>
     <br>
     <br>
     <a style="color: rgba(255, 99, 71, 0.7)" href="{{ url_for('home')}}">Home</a>
 </div>

</body>
</html>
